{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Profile" %}</h1>

<p>{% blocktrans %}
Your login information is personal, you do not need to
communicate{% endblocktrans %}
</p>

<table>
<tr>
    <td><b>{% trans "Name" %}</b></td>
    <td>{{user.last_name}}</td>
</tr><tr>
    <td><b>{% trans "First name" %}</b></td>
    <td>{{user.first_name}}</td>
</tr><tr>
    <td><b>{% trans "Login" %}</b></td>
    <td>{{user.username}}</td>
</tr><tr>
    <td><b>{% trans "Mail" %}</b></td>
    <td>{{user.email}}</td>
</tr>
</table>

<h2>{% trans "Change password" %}</h2>
<form method='post' action='/profile/'>{% csrf_token %}
<table>
<tr>
    <td><b>{% trans "Current password" %}</b></td>
    <td><input type='password' name='old' size='30'></td>
</tr>
<tr>
    <td><b>{% trans "New password" %} (1)</b></td>
    <td><input type='password' name='new1' size='30'></td>
</tr>
<tr>
    <td><b>{% trans "New password" %} (2)</b></td>
    <td><input type='password' name='new2' size='30'></td>
</tr>
</table>
<input type='submit' value='{% trans "Change" %}'>
</form>
{% endblock %}

