{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Profile" %}</h1>

<p>{% blocktrans %}
Your login information is personal, you do not need to
communicate{% endblocktrans %}
</p>

<table class="table table-striped">
<tr>
    <th>{% trans "Name" %}</th>
    <td>{{user.last_name}}</td>
</tr><tr>
    <td><b>{% trans "First name" %}</b></td>
    <td>{{user.first_name}}</td>
</tr><tr>
    <td><b>{% trans "Login" %}</b></td>
    <td>{{user.username}}</td>
</tr><tr>
    <td><b>{% trans "Mail" %}</b></td>
    <td>{{user.email}}</td>
</tr>
</table>

<h2>{% trans "Change password" %}</h2>
<form class="form-horizontal" role="form" method='post' action='/profile/'>{% csrf_token %}
    <div style="margin-bottom: 25px" class="input-group">
        {% trans "Current password" %}
        <input type='password' name='old' size='30'>
    </div>
    <div style="margin-bottom: 25px" class="input-group">
        {% trans "New password" %} (1)
        <input type='password' name='new1' size='30'>
    </div>
    <div style="margin-bottom: 25px" class="input-group">
        {% trans "New password" %} (2)
        <input type='password' name='new2' size='30'>
    </div>
    <div style="margin-top:10px" class="form-group">
        <div class="col-sm-12 controls">
            <input class="btn btn-success pull-right"
                    type="submit" value='{% trans "Change" %}'/>
        </div>
    </div>
</form>
{% endblock %}
