{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% load staticfiles %}

    <h1>{% trans "Music Player" %}</h1>

    <h2>{{warning}}</h2>

    <form id="formpl" action="" method="GET">
      <fieldset>
        <legend>{% trans "Change playlist" %} :</legend>
        {{ pl_form.as_p }}
      	<p>
      	<input id="subbtn" type="submit" value="Lancer" />
      	</p>
      </fieldset>
    </form>

    <div>
    	<pre id="song">{{song}}</pre>
    	<pre id="artist">{{artist}}</pre>
    	<pre id="time">{{time}}</pre>
    </div>

    <progress id="progressbar" value="{{percent}}" max="100"></progress>

    <p id="commands">
      <button id="play">{% trans "Play" %}</button>
      <button id="pause">{% trans "Pause" %}</button>
      <button id="next">{% trans "Next" %}</button>
      <button id="previous">{% trans "Previous" %}</button>
      <button id="remove">{% trans "Remove" %}</button>
    </p>

    <p>{% blocktrans %}This page will automatically refresh every
    {{need_auto_refresh}} seconds{% endblocktrans %}</p>

<script type="text/javascript" src="{% static "jukebox.js" %}"></script>

{% endblock %}
