{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>Ajout d'une imprimante</h1>
<div class="col-sm-6">
    <ul class="list-inline">
        {% for printer in printers %}
            <div class="col-sm-6">
                <a href='{% url "printer_added" printer %}'>
                    <li class="well">{{printer}}</li>
                </a>
            </div>
        {% empty %}
            <div class="col-sm-6">
                <li class="well">{% trans "No printer available" %}</li>
            </div>
        {% endfor %}
    </ul>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href='{% url "printer_home" %}'>
                    <li class="possum-base alert-success">{% trans "Back" %}</li>
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
