{% extends "base.html" %}
{% block content %}
<h1>Gestion des imprimantes</h1>
<ul class="list-inline">
    {% for printer in printers %}
        <div class="col-sm-4">
            <a href='{% url "printer_view" printer.id %}'>
                <li class="well">{{printer.name}} {{printer.get_resume}}</li>
            </a>
        </div>
    {% endfor %}
    <div class="col-sm-4">
        <a href='{% url "printer_add" %}'>
            <li class="well-sansbg alert-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </li>
        </a>
    </div>
</ul>
{% endblock %}
