{% extends "base.html" %}

{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick="window.location='{% url "bill_view" bill.id %}'">
	{% trans "Back" %}
    </li>
</ul>

<h2><!-- number --></h2>
<ul id="numbers">
    {% for number in number_possible_to_add %}
    	<li id="number_{{number}}" 
	{% if count == number %}class="enabled" {% endif %}
	onclick="update_number(this, {{number}})"> 
		{{number}}
	</li>
    {% endfor %}
</ul>

<script>
	function update_number(element, number) {
		$.get('ajax/number_of_product/' + number);
		for (i = 1; i < {{max_number}}; i++) {
			document.getElementById("number_" + i).className="";
		}
		element.className="enabled";
	}
</script>

<h1><!--categories--></h1>
<ul id="categories">
    {% for category in categories %}
    <li class="cat_{{category.id}}" id="{{category.id}}"
        href="javascript:void(0)" onclick="javascript:view_category(this.id);">
        {{category.nom}}
    </li>
    {% empty %}
    <li>{% trans "No category" %}</li>
    {% endfor %}
</ul>

<h2><!--add a product--></h2>
<ul id="products">
    {% for category in categories %}
    <div id="cat_{{category.id}}"
        {% if current_cat != category.id %}style="display: none"{% endif %}>
        {% for product in category.products %}
        <li
            onclick="window.location='{% url "product_add" bill.id product.id %}'"
            class="cat_{{category.id}}">{{product.nom}}
        </li>
        {% endfor %}
    </div>
    {% endfor %}
</ul>

<h1>{% trans "Products on order" %}</h1>
<p>{% trans "You can delete an item by selecting it" %}</p>
<ul id="products_sold">
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li class="cat_{{sold.produit.categorie_id}}"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
            {% for member in sold.members %}
        <li class="cat_{{sold.produit.categorie_id}}"
            onclick="window.location='{% url "sold_delete" bill.id member.id %}'">
            {{member}}
        </li>
            {% endfor %}
    </div>
        {% else %}
    <li class="cat_{{sold.produit.categorie_id}}"
        onclick="window.location='{% url "sold_delete" bill.id sold.id %}'">
        {{sold}}
    </li>
        {% endif %}
    {% empty %}
    <li>{% trans "No product" %}</li>
    {% endfor %}
</ul>

{% endblock %}
