{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Order" %} #{{facture.id}}
                    <div class="pull-right">
                        <a href='{% url "bill_categories" facture.id %}'
                            class="btn btn-default alert-success" role="button">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
               <ul class="list-unstyled">
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li class="cat_{{sold.produit.categorie_id}} possum-base"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
    {% for member in sold.members %}
    <a href='{% url "sold_view" facture.id member.id %}'>
        <li class="cat_{{sold.produit.categorie_id}} possum-base">
        {{member}}</li></a>
    {% endfor %}
    </div>
    {% else %}
    <a href='{% url "sold_view" facture.id sold.id %}'>
        <li class="cat_{{sold.produit.categorie_id}} possum-base">
        {{sold}}</li></a>
    {% endif %}
    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
<!-- Infos begin -->
        <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href="{% url 'bill_home' %}">
                    <li class="possum-base alert-success">
                        {% trans "Back" %}</li></a>
                <li class="possum-base">
                    <div class="btn-group btn-group-justified" role="group">
                        <p class="btn btn-default" role="button">
                            {% trans "Creation" %}: {{facture}}</p>
                        <a class="btn btn-default alert-danger"
                            href="{% url 'bill_delete' facture.id %}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </li>
                <li class="possum-base">
                    <div class="btn-group btn-group-justified" role="group"
                        aria-label="Justified button group">
                        <a href="{% url 'table_select' facture.id %}"
                            class="btn btn-default {% if facture.surcharge %}alert-warning{% endif %}"
                            role="button">{% trans "Table" %}: <b>{{facture.table.nom}}</b></a>
                        <a href="{% url 'couverts_select' facture.id %}"
                            class="btn btn-default" role="button">{% trans "Guests" %}: <b>{{facture.couverts}}</b></a>
                        <a href="{% url 'bill_onsite' facture.id %}"
                            class="btn btn-default {% if facture.onsite %}alert-success{% else %}alert-danger{% endif %}"
                            role="button">{% if facture.onsite %}{% trans "on site" %}{% else %}{% trans "take away" %}{% endif %}</a>
                    </div>
                </li>
                <li class="possum-base">
                    <div class="btn-group btn-group-justified" role="group">
                        <p class="btn btn-default" role="button">
                        {% trans "TTC" %}: <b>{{facture.total_ttc}}</b> {% trans "$" %}</p>
                        <a href='{% url "bill_print" facture.id %}'
                            class="alert-info btn btn-default" role="button">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="input-group">
            </div>
        </div>
    </div>
<!-- Infos end -->
<!-- Payments begin -->
<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Payments" %}
                    <div class="pull-right">
                        <p class="btn btn-default" role="button">
                            {% trans "Remaining" %}: {{facture.restant_a_payer}} {% trans "$" %}
                        </p>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
    {% for payment in facture.paiements.iterator %}
    <a href='{% url "bill_payment_view" facture.id payment.id %}'>
    <li class="possum-base well">
    {{payment.type.nom}}: {{payment.montant}}{% trans "$" %}</li></a>
    {% endfor %}
        <a href='{% url "prepare_payment" facture.id %}'>
    <li class="possum-base alert-success">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </li></a>
                </ul>
            </div>
        </div>
<!-- Payments end -->
<!-- Kitchen begin -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Kitchen" %}
                    {% if facture.category_to_follow %}
                    <div class="pull-right">
                        <a href="{% url 'bill_send_kitchen' facture.id %}"
                            class="btn btn-default cat_{{facture.category_to_follow_id}}" role="button">
                                {% trans "Send" %} {{facture.category_to_follow.nom}} ?
                        </a>
                    </div>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for follow in facture.following.iterator %}
                        <a href='{% url "kitchen_for_bill" facture.id %}'>
                    <li class="possum-base cat_{{follow.category_id}}">
                        {{follow}}
                    </li></a>
                    {% empty %}
                    <li class="possum-base well">{% trans "Nothing" %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
<!-- Kitchen end -->
    </div>
</div>
{% endblock %}
