{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Bills" %} <span class="badge">{{ count }}</span></h1>
<div class="col-sm-10">
<ul class="list-inline">
    {% for facture in factures %}
    <div class="col-sm-2">
    <a href='{% url "bill_view" facture.id %}'>
        <li class="possum-base {{facture.alert}}">
        <h4><b>{% if facture.table %}{{facture.table}}{%else%}T--{% endif %}</b> //
            <b>{{facture.couverts}}</b></h4>
        <h5>{{facture.total_ttc}}{% trans "$" %}</h5></li></a>
    </div>
    {% endfor %}
</ul>
</div>
<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href='{% url "bill_new" %}'>
                    <li class="possum-base alert-success">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Caption" %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="possum-base alert-danger">
                    > {{critical}} {% trans "seconds" %}</li>
                <li class="possum-base alert-warning">
                    > {{warning}} {% trans "seconds" %}</li>
                <li class="possum-base alert-info">
                    > {{info}} {% trans "seconds" %}</li>
                <li class="possum-base alert-success">
                    < {{info}} {% trans "seconds" %}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
