{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Bills" %} <span class="badge">{{ count }}</span></h1>
<div class="col-sm-9">
<ul class="list-inline">
    {% for facture in factures %}
    <div class="col-sm-3">
    <a href='{% url "bill_view" facture.id %}'>
        <li class="possum-base {{facture.alert}}">
        {{facture}}</br>
        {% trans "Table" %}: {% if facture.table %}{{facture.table}}{%else%}T--{% endif %}</br>
        {% trans "Guests" %}: {{facture.couverts}}</br>
        {% trans "Amount" %}: {{facture.total_ttc}}{% trans "$" %}</br></li></a></div>
    {% endfor %}
</ul>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Caption" %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="possum-base alert-danger">
                    {% trans "No change since" %} {{critical}} {% trans "seconds" %}</li>
                <li class="possum-base alert-warning">
                    {% trans "No change since" %} {{warning}} {% trans "seconds" %}</li>
                <li class="possum-base alert-info">
                    {% trans "No change since" %} {{info}} {% trans "seconds" %}</li>
                <li class="possum-base alert-success">
                    {% trans "Change in" %} {{critical}} {% trans "seconds" %}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href='{% url "bill_new" %}'>
                    <li class="possum-base alert-success">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
