{% extends "base.html" %}
{% block content %}
{% load i18n %}
<main class="col-md-9">
<h1>{% trans "Bills" %}</h1> 
<p><ul class="list-inline">
    {% for facture in factures %}
        <li class="possum-base possum-bg" onclick="window.location='{% url "bill_view" facture.id %}'">
        {{facture}}</br>
        {% trans "Table" %}: {% if facture.table %}{{facture.table}}{%else%}T--{% endif %}</br>
        {% trans "Guests" %}: {{facture.couverts}}</br>
        {% trans "Amount" %}: {{facture.total_ttc}}{% trans "$" %}</br>
        </li>
    {% empty %}
        <li class="possum-base possum-bg">{% trans "No bill" %}</li>
    {% endfor %}
</ul></p>
</main>
<aside class="col-md-3 well">
<p><form action="{% url 'bill_new' %}" method="get">
    <button type="button" class="btn btn-primary pull-right"
        >{% trans "New order" %}</button>
</p>
</aside>
{% endblock %}

