{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Bills" %} <span class="badge">{{ count }}</span></h1>
<ul class="list-inline">
    {% for facture in factures %}
    <div class="col-sm-2">
    <a href='{% url "bill_view" facture.id %}'>
        <li class="possum-base alert-info">
        {{facture}}</br>
        {% trans "Table" %}: {% if facture.table %}{{facture.table}}{%else%}T--{% endif %}</br>
        {% trans "Guests" %}: {{facture.couverts}}</br>
        {% trans "Amount" %}: {{facture.total_ttc}}{% trans "$" %}</br></li></a></div>
    {% endfor %}
    <div class="col-sm-2">
        <a href='{% url "bill_new" %}'>
            <li class="possum-base alert-success"></br>
                </br>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></br>
        </br></li></a></div>
</ul>
{% endblock %}
