{% extends "base.html" %}
{% load i18n %}
{% block titre %}{% trans "Bill" %} {{facture.id}}{% endblock %}
{% block content %}
<ul id="back">
    <li onclick="window.location='{% url "bill_sold_working" bill_id sold.id %}'"
        >{% trans "Back" %}</li>
</ul>

<h1>{% trans "Options for" %} {{sold.produit.nom}}</h1>
{% if sold.produit.est_un_menu %}
<p>{% trans "We can not put options on a menu" %}</p>
{% else %}
<p>
{% trans "Green options are selected, you must press it to enable / disable" %}
</p>
<ul id="options">
    {% for option in options %}
    <li onclick="window.location='{% url "bill_sold_options" bill_id sold.id option.id %}'"
        {% if option in sold.options.all %}class="enabled"{% endif %}>
        {{option.name}}
    </li>
    {% empty %}
    <li>{% trans "No option" %}</li>
    {% endfor %}
</ul>

{% endif %}
{% endblock %}

