{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick='window.location="{% url "sold_view" bill.id product.id %}"'
        >{% trans "Back" %}</li>
</ul>

<h1>{% trans "This product is to be sent in kitchen with" %}:</h1>
<ul id="categories">
    {% for category in categories %}
    <li onclick='window.location="{% url "product_set_made_with" bill.id product.id category.id %}"'
        class="cat_{{category.id}}">
        {{category.nom}}
        </li>
    {% empty %}
        <li>{% trans "No category" %}</li>
    {% endfor %}
</ul>

{% endblock %}

