{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "What is the table ?" %}</h1>

<ul class="nav nav-tabs nav-justified">
    {% for z in zones %}
    <li {% if z.pk == zone.pk %}class="active"{% endif %}><a href="{% url 'table_select' bill_id z.pk %}">{{z.nom}}
        {% if z.surtaxe %}<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        {% endif %}</a>
    </li>
    {% endfor %}
</ul>

{% if zone %}
<ul class="list-inline">
    {% for table in tables %}
        <div class="col-sm-2">
            <a href='{% url "table_set" bill_id table.id %}'>
                <li class="possum-base well">{{table.nom}}</li>
            </a>
        </div>
    {% empty %}
        <div class="col-sm-2">
            <li class="possum-base well">{% trans "No room" %}</li>
        </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
