{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick="window.location='{% url "bill_view" bill_id %}'"
        >{% trans "Back" %}</li>
</ul>

<h1>{{sold.produit.nom}}</h1>
<ul id="sold_info">
    {% if sold.produit.categorie.made_in_kitchen %}
    <li onclick="window.location='{% url "product_select_made_with" bill_id sold.id %}'"
        class="cat_{{sold.made_with_id}}">
    {% trans "Send with" %}:</br>{{sold.made_with}}</li>
    {% endif %}
    {% if sold.produit.choix_cuisson %}
    <li onclick="window.location='{% url "sold_cooking" bill_id sold.id %}'"
        class="cooking_{{sold.cuisson_id}}">{% trans "Cooking" %}:</br>{{sold.cuisson}}</li>
    {% endif %}
    <li>{% trans "Total with all taxes" %}:</br>{{sold.prix}}{% trans "$" %}</li>
</ul>

{% if sold.produit.est_un_menu %}
<h2>{% trans "Contains" %}</h2>

<ul id="products_sold">
    {% for product in sold.contient.all %}
    <li class="cat_{{product.produit.categorie_id}}"
        onclick="window.location='{% url "sold_view" bill_id product.id %}'">
        {{product}}
    </li>
    {% endfor %}
</ul>
{% else %}
<!-- Les notes et les options ne peuvent être liées à un menu -->
<h2>{% trans "Options" %}</h2>
<p>{% blocktrans %}Green options are selected, you must
press it to enable/disable{% endblocktrans %}</p>
<ul id="options">
    {% for option in options %}
    <li onclick="window.location='{% url "bill_sold_options" bill_id sold.id option.id %}'"
        {% if option in sold.options.all %}class="enabled"{% endif %}>
        {{option.name}}
    </li>
    {% empty %}
    <li>{% trans "No option" %}</li>
    {% endfor %}
</ul>

<h2>{% trans "Notes" %}</h2>
<p>{% trans "Notes in green are selected for this product" %}</p>
<ul id="notes">
    {% for note in notes %}
    <li onclick="window.location='{% url "sold_note" bill_id sold.id note.id %}'"
        {% if note in sold.notes.all %}class="enabled"{% endif %}>
        {{note.message}}
    </li>
    {% empty %}
    <li>{% trans "No note" %}</li>
    {% endfor %}
</ul>

<h2>{% trans "New note" %}</h2>
<form action="{% url "sold_view" bill_id sold.id %}" method="post">
    {{ note.non_field_errors }}
    {% csrf_token %}
    <table>
        {{note.as_table}}
        <tr><td colspan="2">
                <input type="submit" value="{% trans "Create" %}" />
        </td></tr>
    </table>
</form<
{% endif %}

{% endblock %}
