{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{sold.produit.nom}}</h1>
{% if sold.produit.est_un_menu %}
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Contains" %}</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for product in sold.contient.all %}
                    <a href='{% url "sold_view" bill_id product.id %}'>
                        <li class="possum-base cat_{{product.produit.categorie_id}}">
                            {{product}}</li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% else %}
<!-- Notes and options can't be set on a menu -->
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Options" %}</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="height:600px;overflow-y:scroll">
                <ul class="list-unstyled">
                    {% for option in options %}
                    <div class="col-sm-4">
                    <a href='{% url "bill_sold_options" bill_id sold.id option.id %}'>
                        <li class="possum-base
                            {% if option in sold.options.all %}alert-success
                            {% else %}well{% endif %}">
                        {{option.name}}
                    </li></a></div>
                    {% empty %}
                    <li class="possum-base well">{% trans "No option" %}</li>
                    {% endfor %}
                </ul></div>
                <p>{% blocktrans %}Green options are selected, you must
                    press it to enable/disable{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-unstyled">
                    <a href='{% url "bill_view" bill_id %}'>
                        <li class="possum-base alert-success">
                            {% trans "Back" %}</li></a>
                    <li class="possum-base well">{% trans "TTC" %}:
                        {{sold.prix}}{% trans "$" %}</li>
                    <li class="possum-base cat_{{sold.produit.categorie_id}}">
                        {{sold.produit.categorie}}</li>
{% if sold.produit.categorie.made_in_kitchen %}
                    <a href='{% url "product_select_made_with" bill_id sold.id %}'>
                        <li class="possum-base cat_{{sold.made_with_id}}">
                            {% trans "Send with" %}: {{sold.made_with}}</li>
                    </a>
{% endif %}
{% if sold.produit.choix_cuisson %}
                    <a href='{% url "sold_cooking" bill_id sold.id %}'>
                        <li class="possum-base cooking_{{sold.cooking}}">
                            {% trans "Cooking" %}: {{sold.get_cooking}}</li></a>
{% endif %}
                </ul>
            </div>
        </div>
    </div>
{% if not sold.produit.est_un_menu %}
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Notes" %}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                <ul class="list-unstyled">
                    {% for note in notes %}
                    <a href='{% url "sold_note" bill_id sold.id note.id %}'>
                        <li class="possum-base
                            {% if note in sold.notes.all %}alert-success
                            {% else %}well{% endif %}">
                        {{note.message}}
                    </li></a>
                    {% empty %}
                    <li class="possum-base well">{% trans "No note" %}</li>
                    {% endfor %}
                    <li class="possum-base">
                        <div class="btn-group btn-group-justified" role="group"
                            aria-label="Justified button group">
                            <form action="{% url "sold_view" bill_id sold.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    {{note.message }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                            type="submit">
                                            <span class="glyphicon glyphicon-plus-sign"
                                                aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul></div>
                <p>{% trans "Notes in green are selected for this product" %}</p>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
