{% extends "base_with_aside.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<h1>{% trans "Credits" %}</h1>

<p>{% trans "Software under GPLv3 license created by S. Bonnegent." %}
   {% trans "You are currently using version" %} <b>{{version}}</b>.
</p>
<form action="{% url 'check_new_version' %}" method="get">
    <button type="button" class="btn btn-success">{% trans "new release" %} ?
    </button></form>

<h2>{% trans "A big thank you to" %}</h2>
<ul id="credits">
    <li>R. BONNEGENT {% trans "for the original idea and the need" %}</li>
    <li>Y. BENOIST {% trans "acronym for software" %}</li>
    <li>H. ROMON {% trans "for the logo, icons and patience" %} :)</li>
<ul>
{% endblock %}
{% block side %}
    <img src="{% static "images/bandeau-128.png" %}" alt="Possum"/>
{% endblock %}


