{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
<h1>{% trans "Credits" %}</h1>

<p><a href="http://www.possum-software.org">
    <img src="{% static "images/bandeau-128.png" %}" alt="Possum"/></a>:
    {% trans "free Software under GPLv3 license created by S. Bonnegent." %}
    {% trans "You are currently using version" %}
    {% include "version.html" %}</p>

<h2>{% trans "A big thank you to" %} ...</h2>
<ul id="credits">
    <li>R. BONNEGENT {% trans "for the original idea and the need" %}</li>
    <li>Y. BENOIST {% trans "acronym for software" %}</li>
    <li>H. ROMON {% trans "for the logo, icons and patience" %} :)</li>
    <li>YellowIcon {% trans "icon to stop" %}</li>
    <li>New Mooon {% trans "icon to logout" %}</li>
<ul>

{% endblock %}

