{% extends "manager/home.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="pull-right">
    <img src="{% static "images/bandeau-128.png" %}" alt="Possum"/>
</div>
<h1>{% trans "About" %}</h1>

<p>{% trans "Software under GPLv3 license created by S. Bonnegent." %}
   {% trans "You are currently using version" %} <b>{{version}}</b>.
   {% trans "You can find homepage of Possum here:" %}
   <a href="http://possum.bonnegent.fr/">possum.bonnegent.fr</a>
</p>
<form action="{% url 'check_new_version' %}" method="get">
    <button type="submit" class="btn btn-success">{% trans "new release" %} ?
    </button></form>

<h2>{% trans "A big thank you to" %}</h2>
<ul id="credits">
    <li>R. BONNEGENT {% trans "for the original idea and the need" %}</li>
    <li>Y. BENOIST {% trans "acronym for software" %}</li>
    <li>H. ROMON {% trans "for the logo, icons and patience" %} :)</li>
<ul>
{% endblock %}
