{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick="window.location='{% url "printer_home" %}'">
        {% trans "Back printer" %}</li>
</ul>

<h1>{% trans "Printer" %}: {{printer.name}}</h1>
<ul id="printer">
    <li onclick="window.location='{% url "printer_change_kitchen" printer.id %}'"
        {% if printer.kitchen %}class="enabled"
        {% else %}class="disabled"
        {% endif %}>{% trans "Kitchen" %}<sup>1</sup></li>
    <li onclick="window.location='{% url "printer_change_billing" printer.id %}'"
        {% if printer.billing %}class="enabled"
        {% else %}class="disabled"
        {% endif %}>{% trans "Billing" %}<sup>2</sup></li>
    <li onclick="window.location='{% url "printer_change_manager" printer.id %}'"
        {% if printer.manager %}class="enabled"
        {% else %}class="disabled"
        {% endif %}>{% trans "Manager" %}<sup>3</sup></li>
    <li onclick="window.location='{% url "printer_select_width" printer.id %}'">
        {% trans "Ticket width" %}:</br>{{printer.width}}</li>
    <li onclick="window.location='{% url "printer_test_print" printer.id %}'">
        Test d'impression</li>
</ul>

<h2>Options</h2>
<form method='post' action='{% url "printer_view" printer.id %}'>
{% csrf_token %}
<table>
<!--tr>
    <td><b>options d'impressions</b></td>
    <td><input name="options" value="{{printer.options}}"></td>
</tr-->
<tr>
    <td><b>{% trans "Header" %}</b></td>
    <td><textarea name="header" rows="10" cols="{{printer.width}}">{{printer.header}}</textarea></td>
</tr>
<tr>
    <td><b>{% trans "Footer" %}</b></td>
    <td><textarea name="footer" rows="10" cols="{{printer.width}}">{{printer.footer}}</textarea></td>
</tr>
<tr>
    <td colspan=2><input type='submit' value='{% trans "Save" %}'></td>
</tr>
</table>
</form>
</br>
<sup>1. {% trans "can print kitchen tickets" %}</sup></br>
<sup>2. {% trans "can print invoices" %}</sup></br>
<sup>3. {% trans "can print reports" %}</sup></br>

{% endblock %}
