{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Users" %}</h1>

<table class="table table-striped">
<thead>
<tr>
    <td>{% trans "Login" %} (*)</td>
    <td>{% trans "Name" %}</td>
    <td>{% trans "First name" %}</td>
    <td>{% trans "Mail" %}</td>
    <td></td>
    <td>{% trans "Active" %}</td>
    <td>{% trans "Manager" %}</td>
    <td>{% trans "Password" %}</td>
</tr>
</thead><tbody>
{% for u in users %}
<tr><form method='post' action="{% url 'users_change' u.id %}">
    {% csrf_token %}
    <td><input name='login' value="{{u.username}}"></td>
    <td><input name='last_name' value="{{u.last_name}}"></td>
    <td><input name='first_name' value="{{u.first_name}}"></td>
    <td><input name='mail' value="{{u.email}}"></td>
    <td><button type="submit" class="btn btn-primary">{% trans "Change" %}
        </button></td>
    </form>
    <td
        {% if u.is_active %}class="success">
        <a href="{% url 'users_active' u.id %}">
        <input type="checkbox" checked="True"/>
        {% else %}class="danger">
        <a href="{% url 'users_active' u.id %}">
        <input type="checkbox"/>
        {% endif %}</a>
    </td>
    <td
        {% if u.is_superuser %}class="success">
        <a href="{% url 'users_manager' u.id %}">
        <input type="checkbox" checked="True"/>
        {% else %}class="danger">
        <a href="{% url 'users_manager' u.id %}">
        <input type="checkbox"/>
        {% endif %}</a>
    </td>
    <td><a href="{% url 'users_passwd' u.id %}">
        {% trans "Change" %}</a></td>
</tr>
{% endfor %}
<tr><form method='post' action="{% url 'users_new' %}">{% csrf_token %}
    <td><input name='login'></td>
    <td><input name='last_name'></td>
    <td><input name='first_name'></td>
    <td><input name='mail'></td>
    <td><input type='submit' value='{% trans "Create" %}'></td>
</form>
</tr>
</tbody>
</table>
<p>(*): {% trans "required information" %}</p>
{% endblock %}
