{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Users" %}</h1>

<table>
<tr>
    <td><b>{% trans "Login" %} (*)</b></td>
    <td><b>{% trans "Name" %}</b></td>
    <td><b>{% trans "First name" %}</b></td>
    <td><b>{% trans "Mail" %}</b></td>
    <td></td>
    <td><b>{% trans "Active" %}</b></td>
    {% for p in perms_list %}
    <td align="center"><b>{{p}}</b></td>
    {% endfor %}
    <td><b>{% trans "Password" %}</b></td>
</tr>
{% for u in users %}
<!-- permissions get_all_permissions() -->
<tr><form method='post' action="{% url 'users_change' u.id %}">
    {% csrf_token %}
    <td>
        <input name='login' value="{{u.username}}">
    </td>
    <td>
        <input name='last_name' value="{{u.last_name}}">
    </td>
    <td>
        <input name='first_name' value="{{u.first_name}}">
    </td>
    <td>
        <input name='mail' value="{{u.email}}">
    </td>
    <td>
        <input type='submit' value='Modifier'>
    </td>
    </form>
    <td align="center" onclick='window.location="{% url 'users_active' u.id %}"'
        {% if u.is_active %}bgcolor="#00FF00">
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000">
        <input type="checkbox"/>
        {% endif %}
    </td>
    {% for p in perms_list %}
    <td align="center" onclick='window.location="{% url 'users_change_perm' u.id p %}"'
        {% if p in u.permissions %}bgcolor="#00FF00">
        <input type="checkbox" checked="True"/>
        {% else %}bgcolor="#FF0000">
        <input type="checkbox"/>
        {% endif %}
    </td>
    {% endfor %}
    <td align="center"><a href="{% url 'users_passwd' u.id %}">
        {% trans "Change" %}</a></td>
</tr>
{% endfor %}
<tr><form method='post' action="{% url 'users_new' %}">{% csrf_token %}
    <td><input name='login'></td>
    <td><input name='last_name'></td>
    <td><input name='first_name'></td>
    <td><input name='mail'></td>
    <td><input type='submit' value='{% trans "Create" %}'></td>
</form>
</tr>
</table>
<center><p>(*): {% trans "required information" %}</p></center>
<p>{% trans "Description permissions" %}:
<ul id="perms">
    <li>[P1] {% trans "can access" %}: {% trans "Manager" %}</li>
    <li>[P2] {% trans "can access" %}: {% trans "Carte" %}</li>
    <li>[P3] {% trans "can access" %}: {% trans "Orders" %}</li>
    <!--li>[P4] peut modifier les factures dans la partie Registre (toutes les factures passées)</li>
    <li>[P5] peut utiliser la caisse (enregistrement des commandes et facturation)</li>
    <li>[P6] peut modifier la carte</li>
    <li>[P7] peut accèder aux résultats</li>
    <li>[P8] peut changer de musique dans le Jukebox</li>
    <li>[P9] peut modifier la musique dans le jukebox (ajout/suppression des musiques, modification des listes de lecture)</li-->
</ul>
</p>

{% endblock %}
