{% extends "base_with_aside.html" %}
{% load i18n %}
{% block content %}
<h1>Graphique du ...</h1>

<div class="media">
    <div id='chart_view_1'><p>{% trans "No data" %}</p></div>
    <div id='chart_view_2'></div>
</div>

{% endblock %}
{% block side %}
<h2>{% trans "Date" %}</h2>
<form method='post' action='{% url "stats_charts" %}'>
{% csrf_token %}
<div class="form-group form-inline">
    <select name="year" class="form-control">
        {% for a_choice in years %}
        <option {% ifequal a_choice year %}selected{% endifequal %}
                >{{a_choice}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary form-control">{% trans "View" %}</button>
</div>
<div class="radio-group-vertical form-group">
    <label class="radio">
        <input type="radio" name="choice" id="rad1" value="ttc"
        {% ifequal choice "ttc" %}checked{% endifequal %}>{% trans "Sales" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad2" value="bar"
        {% ifequal choice "bar" %}checked{% endifequal %}>{% trans "Bar" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad3" value="guests"
        {% ifequal choice "guests" %}checked{% endifequal %}>{% trans "Restaurant" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad4" value="vats"
        {% ifequal choice " vats" %}checked{% endifequal %}>{% trans "VAT" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad5" value="payments"
        {% ifequal choice "payments" %}checked{% endifequal %}>{% trans "Payments" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad6" value="categories"
        {% ifequal choice "categories" %}checked{% endifequal %}>{% trans "Categories" %}
    </label>
    {% for cat in cat_list %}
    <label class="radio cat_{{cat.id}}">
        <input type="radio" name="choice" id="rad_cat_{{cat.id}}" value="{{cat.id}}"
        {% ifequal choice cat.id %}checked{% endifequal %}>{{cat.nom}}
    </label>
    {% endfor %}
</div>
</form>

{% endblock %}

