{% extends "base_with_aside.html" %}
{% load i18n %}
{% load staticfiles %}
{% block extrajs %}
<script src="{% static "highcharts/js/highcharts.js" %}"></script>
<script src="{% static "highcharts/js/modules/exporting.js" %}"></script>
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="panel panel-default">
<div id="chart_panel" class="panel-body" style="width:100%;height:314px"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    // Glucose Average by Day chart
     var avgByDayOptions = {
        chart: {
            renderTo: 'chart_panel',
            type: 'line',
        },
        legend: {enabled: false},
        title: {text: '{{title}}'},
        subtitle: {text: 'Last 14 Days'},
        xAxis: {title: {text: null}, labels: {rotation: -45}},
        yAxis: {title: {text: null}},
        series: [{}],
    };

    var chartDataUrl = "{% url 'stats_dump' %}?choice={{choice}}";
    $.getJSON(chartDataUrl,
        function(data) {
            avgByDayOptions.xAxis.categories = data['chart_data']['dates'];
            avgByDayOptions.series[0].name = 'Avg Glucose (mg/dL)';
            avgByDayOptions.series[0].data = data['chart_data']['values'];
            var chart = new Highcharts.Chart(avgByDayOptions);
    });

} );
</script>
{% endblock %}
{% block side %}
<h2>{% trans "Date" %}</h2>
<form method='post' action='{% url "stats_charts" %}'>
{% csrf_token %}
<div class="form-group form-inline">
    <select name="year" class="form-control">
        {% for a_choice in years %}
        <option {% ifequal a_choice year %}selected{% endifequal %}
                >{{a_choice}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary form-control">{% trans "View" %}</button>
</div>
<div class="radio-group-vertical form-group">
    <label class="radio">
        <input type="radio" name="choice" id="rad1" value="ttc"
        {% ifequal choice "ttc" %}checked{% endifequal %}>{% trans "Sales" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad2" value="bar"
        {% ifequal choice "bar" %}checked{% endifequal %}>{% trans "Bar" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad3" value="guests"
        {% ifequal choice "guests" %}checked{% endifequal %}>{% trans "Restaurant" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad4" value="vats"
        {% ifequal choice " vats" %}checked{% endifequal %}>{% trans "VAT" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad5" value="payments"
        {% ifequal choice "payments" %}checked{% endifequal %}>{% trans "Payments" %}
    </label>
    <label class="radio">
        <input type="radio" name="choice" id="rad6" value="categories"
        {% ifequal choice "categories" %}checked{% endifequal %}>{% trans "Categories" %}
    </label>
    {% for cat in cat_list %}
    <label class="radio cat_{{cat.id}}">
        <input type="radio" name="choice" id="rad_cat_{{cat.id}}" value="{{cat.id}}"
        {% ifequal choice cat.id %}checked{% endifequal %}>{{cat.nom}}
    </label>
    {% endfor %}
</div>
</form>

{% endblock %}

