{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Notes list" %}</h1>

<p>{% blocktrans %}It is possible to add a note on a product
at the time of order{% endblocktrans %}</p>

<ul id="notes">
    <li onclick='window.location="{% url 'notes_add' %}"'>{% trans "Add" %}</li>
    {% for note in notes %}
    <li onclick='window.location="{% url 'notes_view' note.id %}"'>
        {{note.message}}
        </li>
    {% endfor %}
</ul>

{% if note %}
{% if note.instance.id %}
<h2>{% trans "Selected note" %}</h2>
{% else %}
<h2>{% trans "New note" %}</h2>
{% endif %}
{% if note.instance.id %}
<form action="{% url 'notes_view' note.instance.id %}" method="post">
{% else %}
<form action="{% url 'notes_add' %}" method="post">
{% endif %}
    {{ note.non_field_errors }}
    {% csrf_token %}
    <table>
        {{note.as_table}}
        <tr><td colspan="2">
            <input type="submit" value="{% trans "Create" %}" />
</form>
    {% if note.instance.id %}
        <form action="{% url 'notes_del' note.instance.id %}">
            <input type="submit" value="{% trans "Remove" %}" />
        </form>
    {% endif %}
        </td></tr>
    </table>
{% endif %}
{% endblock %}

