{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Possum</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-datepicker-1.3.1/css/datepicker3.css" %}"/>
    <link rel="stylesheet" href="{% static "possum/base.css" %}"/>
    <link rel="stylesheet" href="{% static "categories.css" %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}" />
    <meta name=author content="S. Bonnegent">
    {% if need_auto_refresh %}
    <meta http-equiv="refresh" content="{{need_auto_refresh}}">
    {% endif %}
    <script type="text/javascript" src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.4-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datepicker-1.3.1/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker-1.3.1/js/locales/bootstrap-datepicker.fr.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static "possum/base.js" %}"></script>
    {% block extrajs %}{% endblock %}
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header pull-left">
            <a class="navbar-brand {% if menu_bills %}gris{% endif %}" href="{% url 'bill_home' %}"><span class="glyphicon glyphicon-inbox"></span></a>
            <a class="navbar-brand {% if menu_kitchen %}gris{% endif %}" href="{% url 'kitchen' %}"><span class="glyphicon glyphicon-list-alt"></span></a>
            <a class="navbar-brand {% if menu_jukebox %}gris{% endif %}" href="{% url 'jukebox:home' %}"><span class="glyphicon glyphicon-music"></span></a>
            <a class="navbar-brand {% if menu_sales %}gris{% endif %}" href="{% url 'sales_home' %}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
        </div>
        <div class="navbar-header pull-right">
            <a class="navbar-brand {% if menu_manager %}gris{% endif %}" href="{% url 'manager_home' %}"><span class="glyphicon glyphicon-cog"></span></a>
            <a class="navbar-brand {% if menu_profile %}gris{% endif %}" href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span></a>
            <a class="navbar-brand" href="{% url 'logout' %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
    </div>
    </nav>
{% endif %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>{{ message }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    {% block main %}<main>{% endblock %}
    {% block content %}
        <p>{% trans "Template error, page is empty" %}</p>
    {% endblock %}
{% if need_auto_refresh %}
<footer>
    <p><small>{% blocktrans %}This page will automatically refresh every
        {{need_auto_refresh}} seconds{% endblocktrans %}</p></small>
</footer>
{% endif %}
</main>
{% block __internal_side %}{% endblock %}
</div>
</body>
</html>
