{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Possum</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap-datepicker/css/datepicker3.css" %}"/>
    <link rel="stylesheet" href="{% static "possum/base.css" %}"/>
    <link rel="stylesheet" href="{% static "categories.css" %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}" />
    <meta name=author content="S. Bonnegent">
    {% if chart1 or chart2 %}
        {% load chartit %}
        {% if chart1 %}
            {{ chart1|load_charts:"chart_view_1" }}
        {% elif chart2 %}
            {{ chart2|load_charts:"chart_view_1,chart_view_2" }}
        {% endif %}
    {% endif %}
    {% if need_auto_refresh %}
    <meta http-equiv="refresh" content="{{need_auto_refresh}}">
    {% endif %}
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static "possum/base.js" %}"></script>
    {% block extrajs %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- NavBar for mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbarmobile">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Possum</div>
        </div>
        <!-- NavBar for PC -->
        <div class="collapse navbar-collapse" id="navbarmobile">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li {% if menu_home %}class="active"{% endif %}>
                    <a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li {% if menu_bills %}class="active"{% endif %}>
                    <a href="{% url 'bill_home' %}">{% trans "Orders" %}</a></li>
                <li {% if menu_kitchen %}class="active"{% endif %}>
                    <a href="{% url 'kitchen' %}">{% trans "Kitchen" %}</a></li>
                <li {% if menu_jukebox %}class="active"{% endif %}>
                    <a href="{% url 'jukebox_home' %}">{% trans "Jukebox" %}</a></li>
                <li {% if menu_manager %}class="active"{% endif %} class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{% trans "Manager" %} <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'archives' %}">{% trans "Archives" %}</a></li>
                        <li><a href="{% url 'categories' %}">{% trans "Carte" %}</a></li>
                        <li><a href="{% url 'credits' %}">{% trans "Credits" %}</a></li>
                        <li><a href="{% url 'editions_home' %}">{% trans "In use" %}</a></li>
                        <li><a href="{% url 'printer_home' %}">{% trans "Printers" %}</a></li>
                        <li><a href="{% url 'notes_home' %}">{% trans "Notes" %}</a></li>
                        <li><a href="{% url 'tables' %}">{% trans "Tables" %}</a></li>
                        <li><a href="{% url 'vats' %}">{% trans "VAT" %}</a></li>
                        <li><a href="{% url 'users' %}">{% trans "Users" %}</a></li>
                    </ul>
                </li>
                <li {% if menu_sales %}class="active"{% endif %}>
                    <a href="{% url 'sales_home' %}">{% trans "Sales" %}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li {% if menu_profile %}class="active"{% endif %}>
                    <a href="{% url 'profile' %}">{{user.username}}</a></li>
                <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                {% endif %}
                    <p>{{ message }}</p></div>
            </div>
        {% endfor %}
    {% endif %}
    {% block main %}<main>{% endblock %}
    {% block content %}
        <p>{% trans "Template error, page is empty" %}</p>
    {% endblock %}
{% if need_auto_refresh %}
<footer>
    <p><small>{% blocktrans %}This page will automatically refresh every
        {{need_auto_refresh}} seconds{% endblocktrans %}</p></small>
</footer>
{% endif %}
</main>
{% block __internal_side %}{% endblock %}
</div>
</body>
</html>
