{% extends "panel.html" %}
{% load staticfiles %}
{% load i18n %}
{% block panel %}
<div class="panel panel-info" >
    <div class="panel-heading">
        <div class="panel-title">POSSUM</div>
    </div>
    <div style="padding-top:30px" class="panel-body">
        {% if form.errors %}
        <div class="alert alert-danger">
            <p>{% trans "Your username and password didn't match. Please try again." %}</p>
        </div>
        {% endif %}
        <form class="form-horizontal" role="form" method='post'
            action="{% url 'django.contrib.auth.views.login' %}" name='login'>
            {% csrf_token %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username"
                        value="" placeholder="{% trans 'username' %}">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control"
                        name="password" placeholder="{% trans 'password' %}">
            </div>
            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <input class="btn btn-success pull-right"
                            type="submit" value='{% trans "Login" %}'/>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
