{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Bills being edited" %}</h1>

<p>{% blocktrans %}
Invoices below are bills being editions (adding products
or payments) that are not resulted. If an invoice is being
editing, someone else can not add a product or add a payment
on this bill.
{% endblocktrans %}</p>

<p>{% blocktrans %}
You can remove the editing status of an invoice by clicking on the box
corresponding below. In this case, the current user can not save these
changes.
{% endblocktrans %}</p>

<p>{% blocktrans %}
Last important note, you should <u>never</u> need use this possibility.
{% endblocktrans %}</p>

<ul id="editions">
    {% for bill in bills %}
    <li onclick='window.location="{% url 'editions_view' bill.id %}"'>
        {{bill}} {% trans "by" %} {{bill.in_use_by}}
    </li>
    {% empty %}
    <li>{% trans "No edition" %}</li>
    {% endfor %}
</ul>

{% endblock %}

