{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Archive of" %} {{date|date:'d F Y'}}</h1>

<form method='post' action='{% url "archives" %}' name='archives'>
{% csrf_token %}
<ul id="date_form">
    {{ date_form.as_ul }}
    <li><input type='submit' value='{% trans "Change" %}'></li>
</ul>
</form>

<h2>{% trans "Bills" %}</h2>
<ul id="bills">
        {% for facture in factures %}
        <li onclick="window.location='{% url "archives_bill" facture.id %}'">
        {{facture}}</br>
        {% trans "Guests" %}: {{facture.couverts}}</br>
        {% trans "Table" %}: {% if facture.table %}{{facture.table}}{% endif %}</br>
        {% trans "Amount" %}: {{facture.total_ttc}}{% trans "$" %}</br>
        </li>
        {% empty %}
        <li>{% trans "No bill" %}</li>
        {% endfor %}
</ul>

{% endblock %}

