{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick="window.location='{% url "archives" %}'">{% trans "Back" %}</li>
</ul>

<h1>{% trans "Order" %} [{{bill}}]</h1>
<ul id="bill_info">
    <li>{% trans "Table" %}:</br>{{bill.table.nom}}</li>
    <li>{% trans "Guests" %}:</br>{{bill.couverts}}</li>
    <li
        {% if bill.onsite %}
            class="enabled">{% trans "on site" %}
        {% else %}
            class="disabled">{% trans "take away" %}
        {% endif %}
    </li>
    <li>{% trans "Total with all taxes" %}:</br>{{bill.total_ttc}}{% trans "$" %}</li>
    <li>{% trans "Remaining to be paid" %}:</br>{{bill.restant_a_payer}}{% trans "$" %}</li>
</ul>

<h2>{% trans "Products" %}</h2>
<ul id="products_sold">
    {% for sold in products_sold %}
        {% if sold.count > 1 %}
    <li class="cat_{{sold.produit.categorie_id}}"
        id="{{sold.id}}" href="javascript:void(0)"
        onclick="javascript:myLinkButtonClick(this.id);">
        {{sold.count}}x {{sold.produit.nom}}</li>
    <div id="list_{{sold.id}}" style="display: none">
    {% for member in sold.members %}
    <li class="cat_{{sold.produit.categorie_id}}">
        {{member}}
    </li>
    {% endfor %}
    </div>
    {% else %}
    <li class="cat_{{sold.produit.categorie_id}}">
      {{sold}}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2>{% trans "Payments" %}</h2>
<ul id="paiements">
    {% for payment in bill.paiements.iterator %}
        <li>{{payment.type.nom}} {{payment.montant}}</li>
    {% endfor %}
</ul>

<h2>{% trans "VAT" %}</h2>
<ul id="vats">
    {% for vat in bill.vats.iterator %}
    <li>{{vat}}</li>
    {% empty %}
    <li>{% trans "No VAT" %}</li>
    {% endfor %}
</ul>

<h2>{% trans "Kitchen" %}</h2>
<ul id="kitchen">
    {% for follow in bill.following.iterator %}
    <li class="cat_{{follow.category_id}}">{{follow}}</li>
    {% empty %}
    <li>{% trans "No follow" %}</li>
    {% endfor %}
</ul>

{% endblock %}
