{% extends "base.html" %}
{% block content %}
{% load i18n %}
<table>
    <tr>
        <td>{% trans "Time" %}</td>
        <td>{% trans "Table" %}</td>
        <td>{% trans "Guests" %}</td>
        <td>{% trans "Category" %}</td>
        <td>{% trans "Product" %}</td>
        <td>{% trans "Options" %}</td>
        <td>{% trans "Notes" %}</td>
    </tr>
    {% for facture in factures %}
        {% if facture.following %}
    <tr>
        <td width="5em">{{facture.following.latest.time}}</td>
        <td width="5em">{{facture.table}}</td>
        <td width="5em">{{facture.couverts}}</td>
        <td class="cat_{{facture.follow.category_id}}">
            {{facture.follow.category}}</td>
            {% for product in facture.todo %}
            {% if not forloop.first %}
                <tr><td colspan="4"></td>
            {% endif %}
            <td>{{product.count}}x {{product.produit.nom}}
                {% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            {% if forloop.first %}
            <td onclick='window.location="{% url 'follow_done' facture.follow.id %}"'
                align='center'>{% trans "Done" %} ?</td>
            {% endif %}
            </tr>
            {% endfor %}
            <!-- There are a category to follow -->
            {% if facture.after %}
            <tr><td colspan="3" align="center">{% trans "To follow" %} ...</td>
                <td class="category_id{{facture.category_to_follow_id}}">
                    {{facture.category_to_follow}}</td>
                {% for product in facture.after %}
                {% if not forloop.first %}
                    <tr><td colspan="4"></td>
                {% endif %}
                <td>{{product.count}}x {{product.produit.nom}}
                    {% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
                <td>{% for option in product.options.all %}{{option.name}}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}</td>
                <td>{% for note in product.notes.all %}{{note.message}}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}</td>
            </tr>
            {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
<p>{% blocktrans %}This page will automatically refresh every
    {{need_auto_refresh}} seconds{% endblocktrans %}</p>
{% endblock %}

