{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Kitchen" %}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans "Time" %}</th>
        <th>{% trans "Table" %}</th>
        <th>{% trans "Guests" %}</th>
        <th>{% trans "Category" %}</th>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Options" %}</th>
        <th>{% trans "Notes" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for facture in factures %}
        {% if facture.following %}
    <tr>
        <td width="5em">{{facture.following.latest.time}}</td>
        <td width="5em">{{facture.table}}</td>
        <td width="5em">{{facture.couverts}}</td>
        <td class="cat_{{facture.follow.category_id}}">
            {{facture.follow.category}}</td>
            {% for product in facture.todo %}
            {% if not forloop.first %}
                <tr><td colspan="4"></td>
            {% endif %}
            <td>{{product.count}}x {{product.produit.nom}}
                {% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            {% if forloop.first %}
            <td align="center"><form action="{% url 'follow_done' facture.follow.id %}" 
                method="get"><button type="button" class="btn btn-success"
                >{% trans "Done" %} ?</button></form></td>
            {% endif %}
            </tr>
            {% endfor %}
            <!-- There are a category to follow -->
            {% if facture.after %}
            <tr><td colspan="3" align="center">{% trans "To follow" %} ...</td>
                <td class="category_id{{facture.category_to_follow_id}}">
                    {{facture.category_to_follow}}</td>
                {% for product in facture.after %}
                {% if not forloop.first %}
                    <tr><td colspan="4"></td>
                {% endif %}
                <td>{{product.count}}x {{product.produit.nom}}
                    {% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
                <td>{% for option in product.options.all %}{{option.name}}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}</td>
                <td>{% for note in product.notes.all %}{{note.message}}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}</td>
            </tr>
            {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

