{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Table" %} {{facture.table}} / {{facture.couverts}}
    {% trans "guests" %} ({{facture}})</h1>
<div class="col-sm-9">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Time" %}</td>
                <td>{% trans "Category" %}</td>
                <td>{% trans "Product" %}</td>
                <td>{% trans "Options" %}</td>
                <td>{% trans "Notes" %}</td>
            </tr>
        </thead>
        <tbody>
{% for follow in facture.following.iterator %}
    <tr>
        <td width="5em">{{follow.time}}</td>
        <td class="cat_{{follow.category_id}}">{{follow.category}}</td>
        {% for product in follow.produits.all %}
                {% if first %}
        </tr>
                {% else %}
            <tr><td colspan="2"></td>
                {% endif %}
            <td>{{product.produit.nom}}{% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            </tr>
        {% endfor %}
{% endfor %}
        </tbody>
    </table>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Back" %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href="{% url 'kitchen' %}">
                    <li class="possum-base alert-success">{% trans "Back kitchen" %}
                    </li></a>
                <a href="{% url 'bill_view' facture.id %}">
                    <li class="possum-base alert-info">{% trans "Back bill" %}
                    </li></a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
