{% extends "base.html" %}
{% block content %}
{% load i18n %
<ul id="back">
    <li onclick='window.location="{% url 'kitchen' %}"'
        >{% trans "Back kitchen" %}</li>
    <li onclick='window.location="{% url 'bill_view' facture.id %}"'
        >{% trans "Back bill" %}</li>
</ul>

<h1>{% trans "Table" %} {{facture.table}} / {{facture.couverts}} {% trans "guests" %} ({{facture}})</h1>

<table>
    <tr>
        <td>{% trans "Time" %}</td>
        <td>{% trans "Category" %}</td>
        <td>{% trans "Product" %}</td>
        <td>{% trans "Options" %}</td>
        <td>{% trans "Notes" %}</td>
    </tr>
{% for follow in facture.following.iterator %}
    <tr>
        <td width="5em">{{follow.time}}</td>
        <td class="cat_{{follow.category_id}}">{{follow.category}}</td>
        {% for product in follow.produits.all %}
                {% if first %}
        </tr>
                {% else %}
            <tr><td colspan="2"></td>
                {% endif %}
            <td>{{product.produit.nom}}{% if product.cuisson %} ({{product.cuisson}}){% endif %}</td>
            <td>{% for option in product.options.all %}{{option.name}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            <td>{% for note in product.notes.all %}{{note.message}}
                    {% if not forloop.last %} / {% endif %}
                {% endfor %}</td>
            </tr>
        {% endfor %}
{% endfor %}
</table>

{% endblock %}

