{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Category" %}: {{current_cat.nom}}</h1>

<p>{% blocktrans %}
When deleting the category, all statistics
this category will be deleted. If you want to see statistics
another category, you must select a category below.
{% endblocktrans %}</p>

<p>{% blocktrans %}
On the other hand, the products will also be deleted. Not
remove, simply choose a category deferral below.
{% endblocktrans %}</p>

<p>{% blocktrans %}
It is strongly advised not to remove products that have were used.
{% endblocktrans %}</p>

<p>{% blocktrans %}
You confirm the suppression of this category (and the possible postponement)?
{% endblocktrans %}</p>
<form method='post' action="{% url "categories_delete" current_cat.id %}">
{% csrf_token %}
<table>
<tr>
    <td colspan="2" align="center">{% trans "Category for the report" %}:
<SELECT name="cat_report">
    <OPTION VALUE="">{% trans "no report" %}</OPTION>
    {% for cat in categories %}
        <OPTION VALUE="{{ cat.id }}">{{ cat.nom }}</OPTION>
    {% endfor %}
</SELECT>
    </td>
</tr>
<tr>
    <td align="center"><button type="submit" name="valide" value="remove" class="btn btn-danger">{% trans "Remove" %}</button></td>
    <td align="center"><button type="submit" name="valide" value="cancel" class="btn">{% trans "Cancel" %}</button></td>
</tr>
</table>
</form>

{% endblock %}

