{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Tables" %}</h1>

<ul id="zones">
    <li onclick="window.location='{% url "tables_zone_new" %}'">
        {% trans "Add a room" %}</li>
</ul>

{% for zone in zones %}
    <h2>{{zone.nom}}</h2>
    {% if zone.surtaxe %}
    <p>{% trans "This area is subject to a surcharge" %}</p>
    {% endif %}

<ul id="zones">
    <li onclick="window.location='{% url "tables_zone" zone.id %}'">
        {% trans "Change" %}</li>
    <li onclick="window.location='{% url "tables_zone_delete" zone.id %}'"
        class="critical">{% trans "Remove" %}</li>
</ul>
    <ul id="tables">
        <li onclick="window.location='{% url "tables_table_new" zone.id %}'">+</li>
        {% for table in zone.tables %}
        <li onclick="window.location='{% url "tables_table" zone.id table.id %}'"
            {% if zone.surtaxe %}class="surtaxe"{% endif %}>
            {{table.nom}}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}

