{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick="window.location='{% url "tables" %}'">{% trans "Back" %}</li>
</ul>

<h1>
    {% if table.nom %}{% trans "Change name for" %}: {{table.nom}}
    {% else %}{% trans "New name" %}:{%endif%}
</h1>

<form method='post' action='{% url "tables_table" table.zone_id table.id %}'>
    {% csrf_token %}
    <input name="name" value="{{ table.nom }}">
    <input type='submit' value='{% trans "Save" %}'>
</form>

{% endblock %}

