{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "New payment" %}</h1>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">1. {% trans "Payment type" %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
            {% for type in type_payments %}
                <div class="col-sm-6">
                    <a href="{% url 'type_payment' bill_id type.id %}">
                        <li class="possum-base {% if type == type_selected %}alert-success{% else %}well{% endif %}">{{type.nom}}</li>
                    </a>
                </div>
            {% empty %}
                <div class="col-sm-6">
                    <li>{% trans "No data" %}</li>
                </div>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <a href="{% url 'bill_view' bill_id %}">
                    <li class="possum-base alert-success">
                        {% trans "Back" %}
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Saved payments" %}</h3>
        </div>
        <div class="panel-body">
            <p>{% trans "You can delete a payment by selecting" %}</p>
            <ul class="list-unstyled">
                {% for payment in payments %}
                    <a href='{% url "bill_payment_delete" bill_id payment.id %}'>
                        <li class="possum-base well">{{payment.type.nom}}:
                        {{payment.montant}}{% trans "$" %}
                        <span class="glyphicon glyphicon-remove"></span></li>
                    </a>
                {% empty %}
                    <li class="possum-base well">{% trans "No payment" %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">2. {% trans "Amount" %}</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
            </ul>
        </div>
    </div>
</div>


</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
<h2>2. {% trans "Amount" %}</h2>
{% if type_selected %}
    {% if type_selected.fixed_value %}
    <h3>2.1 {% trans "Number of tickets" %}</h3>
    <ul id="numbers">
        {% for i in range %}
        <li onclick='window.location="{% url 'payment_count' bill_id i %}"'
            {% if i == tickets_count %}class=enabled{% endif %}
        >{{i}}</li>
        {% endfor %}
        <li onclick='window.location="{% url 'amount_count' %}"'>+</li>
    </ul>
    <h3>2.2 {% trans "Total" %}</h3>
    <ul id="payment_tickets">
        <li onclick='window.location="{% url 'amount_payment' %}"'>
            {% trans "Ticket value" %}: {{left}}.{{right}}{% trans "$" %}</li>
        <li onclick='window.location="{% url 'amount_count' %}"'
            >{% trans "Number of tickets" %}: {{tickets_count}}</li>
        <li onclick='window.location="{% url 'save_payment' bill_id %}"'
            >{% trans "Save" %}</li>
    {% else %}
    <ul id="payment_tickets">
        <li onclick='window.location="{% url 'amount_payment' %}"'
            >{% trans "Amount" %}: {{left}},{{right}}{% trans "$" %}</li>
        <li onclick='window.location="{% url 'save_payment' bill_id %}"'
            >{% trans "Save" %}</li>
    {% endif %}
{% else %}
<ul id="payment_tickets">
    <li>{% trans "Amount" %}: {{left}},{{right}}{% trans "$" %}</li>
    <li>{% trans "Save" %}</li>
{% endif %}
</ul>

{% endblock %}
