{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="back">
    <li onclick='window.location="{% url 'bill_view' bill_id %}"'
        >{% trans "Back" %}</li>
</ul>

<h1>{% trans "Payment" %} {{payment.type}}</h1>
<ul id="payment_tickets">
{% if payment.type.fixed_value %}
<li>{% trans "Ticket value" %}: {{payment.valeur_unitaire}}{% trans "$" %}</li>
<li>{% trans "Number of tickets" %}: {{payment.nb_tickets}}</li>
{% endif %}
<li>{% trans "Total" %}: {{payment.montant}}{% trans "$" %}</li>
</ul>

{% endblock %}

