{% extends "base.html" %}
{% block content %}
{% load i18n %}
<ul id="carte_options">
    <li onclick="window.location='{% url "categories_send" %}'"
        >{% trans "Send by mail" %}</li>
    <li onclick="window.location='{% url "categories_print" %}'"
        >{% trans "Print" %}</li>
</ul>

<h2>{% trans "Categories" %}</h2>
<ul id="categories">
    <li onclick="window.location='{% url "categories_add" %}'"
        >{% trans "Add" %}</li>
    {% for category in categories %}
    <li onclick="window.location='{% url "categories_view" category.id %}'"
        class="cat_{{category.id}}">
        [{{category.priorite}}] {{category.nom}}
        </li>
    {% endfor %}
</ul>

{% endblock %}

