{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Change color for" %}: {{category.nom}}</h2>

<form method='post' action='{% url "categories_set_color" category.id %}'>
    {% csrf_token %}
    <input name="color" value="{{ category.color }}">
    <input type='submit' value='{% trans "Change" %}'>
</form>

<h2>{% trans "Colors used" %}</h2>

<ul id="categories">
    {% for category in categories %}
        <li class="cat_{{category.id}}">{{category.nom}}</li>
    {% empty %}
        <li>{% trans "No category" %}</li>
    {% endfor %}
</ul>

{% endblock %}

