{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% trans "Change name for" %}: {{product.nom}}</h1>

<form method='post' action='{% url "products_change" product.id %}'>{% csrf_token %}
<table>
    <tr>
        <td><b>{% trans "Name" %}:</b></td>
        <td><input name="name" value="{{ product.nom }}"></td>
    </tr>
    <tr>
        <td><b>{% trans "Price including tax" %}:</b></td>
        <td><input name="prize" value="{{ product.prix }}"></td>
    <tr>
        <td colspan="2"><input type='submit' value='{% trans "Change" %}'></td>
    </tr>
</table>
</form>

{% endblock %}

